<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/jquery-ui.theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <body>
        <div class="header">
            <h1>5th Floor Movie Recommender</h1>
        </div>
        <div class="tagline">
            <h2>dedicated to <strong>movies</strong> and the people who <strong>love (and hate)</strong> them!</h2>
        </div>
        <div class="recommender-block">
            <div id="containment-wrapper">
                <img src="{{ url_for('static', filename='images/BourneIdentity_2002_t.jpg') }}" 
                     title="The Bourne Identity (2002)"
                     id="draggable1" class="ui-widget-content draggable"/>
                <img src="{{ url_for('static', filename='images/BourneSupremacy_2004_t.jpg') }}" 
                     title="The Bourne Supremacy (2004)"
                     id="draggable2" class="ui-widget-content draggable"/>
                <img src="{{ url_for('static', filename='images/BourneUltimatum_2007_t.jpg') }}" 
                     title="The Bourne Ultimatum (2007)"
                     id="draggable3" class="ui-widget-content draggable"/>
                <img src="{{ url_for('static', filename='images/JasonBourne_2016_t.jpg') }}" 
                     title="Jason Bourne (2016)"
                     id="draggable4" class="ui-widget-content draggable"/>
            </div>
        </div>
        <div class="footer">
            <p><a href="mailto:majorgowan@yahoo.com">Click here to email me</a></p>
        </div>
    </body>
    <!-- scripts-->
    <!-- vendor -->
    <script src="{{ url_for('static', file='javascript/vendor/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', file='javascript/vendor/jquery-ui.min.js') }}"></script>
    <!-- App -->
    <script src="{{ url_for('static', file='javascript/app.js') }}"></script>
    <!-- -- -- -->
</html>
