<!doctype html>
<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon/nickel_1947.jpg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/jquery-ui.theme.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/vendor/jquery-ui.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    </head>
    <title>Movie5</title>
    <body>
        <!--
            <div class="header">
            <h1>5th Floor Movie Recommender</h1>
            </div>
        -->
        <!--
        <div class="tagline">
            <h2>To <strong>movies</strong> and the people who <strong>love (and hate)</strong> them!</h2>
        </div>
        -->
        <div class="instructions">
            <h4>Drag movies you <strong>like to the right</strong> and movies you <strong>hate to the left</strong>.
                We'll determine your opinion of the others. (You won't even have to see them!)</h4>
        </div>

        <div class="filter_method_div">
            <input type="radio" name="filter_method" value="content" checked="checked">Content-based</input>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="filter_method" value="collaborative">Collaborative</input>
        </div>
        <div class="recommender-block">
            <div id="containment-wrapper">
                <!--
                    <div id="arrow-div-vert">
                    <p>
                    <span id='collaborative-span' 
                    title="Preferences predicted using the similarities between
                    movies determined by comparing the ratings of the thousands 
                    of people in the MovieLens data set.">Collaborative filtering</span>
                    </p>
                    <img src="{{ url_for('static', filename='images/up_arrow_900.png') }}"/>
                    </div>
                -->
                <div class="droppable_bar" id="dislike_bar">
                </div>
                <div class="curtain" id="dislike_curtain">
                </div>
                <div class="droppable_bar" id="like_bar">
                </div>
                <div class="curtain" id="like_curtain">
                </div>
                <!--
                    <div id="arrow-div">
                    <p>
                    <span id='content-span' 
                    title="Preferences predicted using the similarities between 
                    movies determined by comparing the text in their official 
                    descriptions using the doc-to-vec algorithm.">Content-based filtering</span>
                    </p>
                    </div>
                -->
            </div>
        </div>

        <!--
            <div class="footer">
            <p><a href="mailto:majorgowan@yahoo.com">Click here to email me</a></p>
            </div>
        -->
    </body>
    <!-- scripts-->
    <!-- vendor -->
    <script src="{{ url_for('static', filename='javascript/vendor/jquery-3.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/vendor/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/vendor/jquery.ui.touch-punch.min.js') }}"></script>
    <!-- App -->
    <script src="{{ url_for('static', filename='javascript/app.js') }}"></script>
    <!-- -- -- -->
</html>
