/* main.css */

html, body, h1, h2, h3, h4, p, div, ul, ol, li {
    padding: 0;
    border: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
}
h1 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    color: #333388;
}
h2 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    color: #ffffff;
    width: 700px;
    margin: 0 auto 0 auto;
}
h2 strong {
    font-weight: 700;
}
html {
    background-color: #ffbbee;
}
body {
    background: linear-gradient(to bottom, #bbaaee, #ffbbee);
}
.header {
    /*background-color: #ddaaaa;*/
    padding: 5px 0 10px 0;
}
h3 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid #555555;
    margin: 20px 0 20px 0;
}
p {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
}
a {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
a:hover {
    color: #aa0000;
    text-decoration: underline;
}
.tagline {
    background-color: #444444;
    background-image: url('../images/filmstrip.jpg');
    padding: 20px 0 20px 0;
}
.tagline h2 {
    color: #cc2222;
}
.instructions {
    text-align: center;
    background-color: #333388;
    color: #ddbbbb;
    padding: 3px 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.instructions h4 {
    font-size: 18px;
}    

.recommender-block {
    width: 100%;
    padding: 40px 0;
    margin: 0;
    /*background-color: #ddaaaa;*/
    /*margin-bottom: 20px;*/
}
.recommender-block #containment-wrapper {
    /* background-image: url('../images/endzones.png'); */ 
    background-color: #dddddd;
    background: linear-gradient(to top right, #bb3333, #33bb33);
    border: 8px ridge #bbaaee;
    position: relative;
    margin: auto;
    padding: 0;
    width: 900px;
    height: 450px;
}
.recommender-block #containment-wrapper img {
    position: absolute;
}
.recommender-block #containment-wrapper .droppable_bar {
    height: 450px;
    width: 100px;
    text-align: center;
}
.recommender-block #containment-wrapper #dislike_bar {
    position: absolute;
    top: 0;
    left: 0;
}
.recommender-block #containment-wrapper #like_bar {
    position: absolute;
    left: 800px;
    top: 0;
}
.recommender-block #containment-wrapper .curtain {
    height: 450px;
    width: 150px;
}
.recommender-block #containment-wrapper #dislike_curtain {
    /* background-color: #993333; */
    background-image: url('../images/curtain_red.png');
    float: left;
}
.recommender-block #containment-wrapper #like_curtain {
    /* background-color: #339933; */
    background-image: url('../images/curtain_green.png');
    float: right;
}
.draggable {
    z-index: 0;
}
.recommender-block #arrow-div {
    background-image: url('../images/right_arrow_900.png');
    position: absolute;
    margin: auto;
    top: 105%;
    padding: 0;
    width: 900px;
    height: 100px;
    text-align: center;
}
.recommender-block #arrow-div p {
    height: 100%;
    padding-top: 70px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
}
.recommender-block #arrow-div-vert {
    position: absolute;
    top: 0;
    left: -120px;
    padding: 0;
    width: 100px;
    height: 450px;
    text-align: center;
}
.recommender-block #arrow-div-vert img {
    position: absolute;
    height: 450px;
    left: -5px;
    width: 100px;
    top: 0;
}
.recommender-block #arrow-div-vert p {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    white-space: nowrap;
    font-size: 24px;
    position: absolute;
    left: -125px;
    top: 200px;
    margin: auto;
    transform: rotate(-90deg);
}

.footer {
    /* background-color: #999999; */
    text-align: center;
    padding: 20px 0 10px 0;
}

